// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;
$secondary: white;
$primary: #343a40;
$success: #cdcdcd;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...


footer {
  background-color: #343a40;
  color: #fff;
  padding: 3rem 0;
}

.social-icons a {
  font-size: 1.25rem;
}

.card-img-top {
  height: 250px;      /* vælg den højde du ønsker */
  object-fit: cover;  /* beskærer billedet så det altid passer pænt */
  width: 100%;        /* sørger for at billedet fylder kortets bredde */
}

.navbar {
  border-bottom: 2px solid #e5e5e5; /* vælg farve og tykkelse */
}


